In [ ]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/PlayingNumbers/ds_salary_proj/master/glassdoor_jobs.csv")

In [5]:
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini"
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1
954,954,Data Engineer,-1,Loading...\n\nTitle: Data Engineer\n\nLocation...,4.8,IGNW\n4.8,"Austin, TX","Portland, OR",201 to 500 employees,2015,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),Slalom
955,955,Research Scientist â€“ Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1

In [6]:
#salary parsing
#state field
#company name text only
#age of company
#parsing of Job Description

# Salary Parsing

In [7]:
df.shape

(956, 15)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         956 non-null    int64
 1   Job Title          956 non-null    object
 2   Salary Estimate    956 non-null    object
 3   Job Description    956 non-null    object
 4   Rating             956 non-null    float64
 5   Company Name       956 non-null    object
 6   Location           956 non-null    object
 7   Headquarters       956 non-null    object
 8   Size               956 non-null    object
 9   Founded            956 non-null    int64
 10  Type of ownership  956 non-null    object
 11  Industry           956 non-null    object
 12  Sector             956 non-null    object
 13  Revenue            956 non-null    object
 14  Competitors        956 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 112.2+ KB

In [9]:
df = df[df['Salary Estimate'] != '-1']
df.shape

(742, 15)

In [10]:
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
salary

0       $53K-$91K
1      $63K-$112K
2       $80K-$90K
3       $56K-$97K
4      $86K-$143K
          ...
950    $58K-$111K
951    $72K-$133K
952     $56K-$91K
953    $95K-$160K
955    $61K-$126K
Name: Salary Estimate, Length: 742, dtype: object

In [11]:
minus_Kd = salary.apply(lambda x: x.replace('K','').replace('$',''))
minus_Kd

0       53-91
1      63-112
2       80-90
3       56-97
4      86-143
        ...
950    58-111
951    72-133
952     56-91
953    95-160
955    61-126
Name: Salary Estimate, Length: 742, dtype: object

In [12]:
minus_Kd.unique()

array(['53-91 ', '63-112 ', '80-90 ', '56-97 ', '86-143 ', '71-119 ',
       '54-93 ', '86-142 ', '38-84 ', '120-160 ', '126-201 ', '64-106 ',
       '106-172 ', '46-85 ', '83-144 ', '102-190 ', '67-137 ', '118-189 ',
       '110-175 ', '64-111 ', '81-130 ', '73-119 ', '86-139 ', '63-105 ',
       '109-177 ', '63-110 ', '75-124 ', '34-61 ', '72-120 ', '93-149 ',
       '85-140 ', '77-135 ', '82-132 ', '83-137 ', '115-180 ', '74-138 ',
       '64-112 ', '68-129 ', '52-113 ', '110-150',
       'Employer Provided Salary:150-160', '158-211 ', '20-39 ',
       '56-117 ', '63-99 ', '68-114 ', '41-95 ', '86-144 ', '80-139 ',
       '56-95 ', '120-189 ', '111-176 ', '84-146 ', '107-172 ', '49-85 ',
       '61-109 ', '88-148 ', '60-99 ', '41-72 ', '96-161 ', '65-130 ',
       '52-81 ', '139-220 ', '50-102 ', '85-139 ', '74-122 ', '99-157 ',
       '79-222 ', '57-118 ', '86-141 ', '94-154 ', '37-76 ', '100-160 ',
       '55-100 ', '60-114 ', '39-68 ', '64-107 ', '31-65 ', '34-62 ',
       '117-231 ', '79-134 ', '52-93 ', '55-116 ', '72-123 ', '74-124 ',
       '40-73 ', '102-164 ', '89-153 ', '61-110 ', '65-110 ', '200-275',
       '68-123 ', '80-129 ', '39-71 ', '38-85 ', '121-193 ', '54-102 ',
       '102-163 ', '76-140 ', '60-101 ', '82-133 ', '65-125 ', '91-148 ',
       '95-173 ', '77-124 ', '80-135 ', '85-159 ', '80-105', '43-81 ',
       '29-50 ', '26-55 ', '61-118 ', '60-102 ', '112-182 ', '51-112 ',
       '113-223 ', '72-129 ', '71-123 ',
       'Employer Provided Salary:120-145', '80-120 ', '80-130 ',
       '59-115 ', '71-136 ', '81-167 ', '71-204 ', '75-125 ', '77-136 ',
       '74-123 ', '44-78 ', '65-148 ', '59-110 ', '85-134 ', '124-204 ',
       '131-207 ', '110-174 ', '52-101 ', '81-133 ', '132-211 ',
       '74-140 ', '100-190 ', '43-80 ', '17-24 Per Hour', '91-149 ',
       '42-82 ', '116-185 ', '59-116 ', '48-95 ', '31-72 ', '105-198 ',
       '98-182 ', '73-124 ', 'Employer Provided Salary:200-250',
       '21-34 Per Hour', '117-206 ', '111-183 ', '81-159 ', '83-166 ',
       '114-182 ', '42-76 ', '114-179 ', '60-123 ', '100-166 ',
       '108-173 ', '48-93 ', '54-115 ', '60-127 ', '90-179 ', '138-224 ',
       '190-220', '35-62 ', '18-25 Per Hour', '39-66 ', '42-86 ',
       '69-127 ', '40-68 ', '49-113 ', '75-140 ', '66-112 ', '76-125 ',
       '44-86 ', '15-25 Per Hour', '53-92 ', '65-120 ', '60-103 ',
       '53-105 ', '33-62 ', '48-90 ', '34-64 ', '66-111 ', '91-138 ',
       '62-114 ', '71-129 ', '74-119 ', '55-97 ', '15-16', '61-106 ',
       '127-199 ', '74-126 ', '33-72 ', '37-63 ', '67-119 ', '72-117 ',
       '78-126 ', '116-194 ', '83-133 ', '45-82 ', '83-135 ', '70-122 ',
       '70-132 ', '54-101 ', '68-112 ', '42-74 ', '95-161 ', '76-126 ',
       '108-176 ', '130-208 ', '37-68 ', '52-99 ', '105-173 ', '71-134 ',
       '39-82 ', '88-162 ', '55-99 ', '67-117 ', '92-150 ', '116-209 ',
       '38-82 ', 'Employer Provided Salary:85-90', '62-119 ', '84-136 ',
       '52-89 ', '65-119 ', '63-101 ', '127-202 ', '31-57 ', '75-143 ',
       '105-194 ', '45-86 ', '95-154 ', '80-148 ', '36-62 ', '50-92 ',
       '67-135 ', '42-80 ', '68-139 ', '34-92 ', '54-71 ', '65-124 ',
       '109-200 ', '61-113 ', '43-86 ', '74-149 ', '113-196 ', '97-160 ',
       '24-39 Per Hour', '102-172 ', '108-171 ', '76-142 ', '202-306 ',
       '49-97 ', '65-134 ', '32-59 ', '87-158 ', '107-173 ', '56-99 ',
       'Employer Provided Salary:25-28 Per Hour', '80-155 ', '43-98 ',
       '45-78 ', '44-96 ', '50-110 ', '61-119 ',
       'Employer Provided Salary:100-140', '56-91 ', '101-158 ',
       '125-210 ', '43-77 ', '139-221 ', '78-147 ', '37-66 ', '38-64 ',
       '43-82 ', '90-110', '93-151 ', '40-101 ', '97-180 ', '81-134 ',
       '84-157 ', '121-203 ', '52-85 ', '81-140 ', '83-148 ', '31-55 ',
       '102-178 ', 'Employer Provided Salary:110-130', '48-85 ',
       '66-123 ', '92-146 ', '21-29 Per Hour', '10-17 Per Hour',
       '150-239 ', '52-91 ', '82-129', '47-101 ', '49-76 ', '43-88 ',
       '124-199 ', '97-181 ', '100-173 ', '53-96 ', '65-96 ', '75-127 ',
       '94-139 ', '176-289 ', '92-149 ', '118-188 ', '108-146 ',
       '65-106 ', '55-98 ', '94-162 ', '63-120 ', '126-228 ', '80-134 ',
       '85-142 ', '87-140 ', '76-127 ', '54-92 ', '61-100 ', '112-179 ',
       '63-111 ', '75-126 ', '110-184 ', '76-145 ', '70-118 ', '94-153 ',
       '150-180 ', '42-77 ', '47-85 ', '62-112 ', '64-108 ', '89-144 ',
       '55-105 ', '135-211 ', '57-80 ', '129-215 ', '63-127 ', '50-89 ',
       '71-124 ', '69-121 ', '150-238 ', '77-132 ', '59-112 ', '35-65 ',
       '79-147 ', '119-187 ', '90-157 ', '32-62 ', '116-208 ', '102-165 ',
       '91-159 ', '80-133 ', '39-69 ', '27-48 ', '36-71 ', '130-206 ',
       '99-178 ', '86-137 ', '37-100 ', '58-111 ', '72-133 ', '61-126 ',
       '95-160 ', '33-61 ', '69-119 ', '67-127 ', '66-117 ', '50-98 ',
       '90-153 ', 'Employer Provided Salary:100-135', '42-79 ', '84-153 ',
       '44-73 ', '40-87 ', '72-142 ', '74-137 ', '57-109 ', '136-208 ',
       '171-272 ', '65-126 ', '118-228 ', '113-182 ', '58-104 ',
       '58-108 ', '81-161 ', '115-220 ', '71-144 ', '32-57 ', '79-136 ',
       '48-113 ', '27-47 Per Hour', '68-125 ', '39-67 ', '71-135 ',
       '61-123 ', '87-141 ', '71-121 ', '72-121 ', '51-88 ', '101-141 ',
       '79-127 ', '81-132 ', 'Employer Provided Salary:120-140',
       '65-113 ', '59-125 ', '80-142 ', '62-113 '], dtype=object)

In [13]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['hourly'].unique()

C:\Users\S.S.S.Dhyuthidhar\AppData\Local\Temp\ipykernel_10672\1492127727.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

array([0, 1], dtype=int64)

In [14]:
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)
df['employer_provided'].unique()

C:\Users\S.S.S.Dhyuthidhar\AppData\Local\Temp\ipykernel_10672\1340171498.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

array([0, 1], dtype=int64)

In [15]:
min_hr = minus_Kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))
min_hr.unique()

array(['53-91 ', '63-112 ', '80-90 ', '56-97 ', '86-143 ', '71-119 ',
       '54-93 ', '86-142 ', '38-84 ', '120-160 ', '126-201 ', '64-106 ',
       '106-172 ', '46-85 ', '83-144 ', '102-190 ', '67-137 ', '118-189 ',
       '110-175 ', '64-111 ', '81-130 ', '73-119 ', '86-139 ', '63-105 ',
       '109-177 ', '63-110 ', '75-124 ', '34-61 ', '72-120 ', '93-149 ',
       '85-140 ', '77-135 ', '82-132 ', '83-137 ', '115-180 ', '74-138 ',
       '64-112 ', '68-129 ', '52-113 ', '110-150', '150-160', '158-211 ',
       '20-39 ', '56-117 ', '63-99 ', '68-114 ', '41-95 ', '86-144 ',
       '80-139 ', '56-95 ', '120-189 ', '111-176 ', '84-146 ', '107-172 ',
       '49-85 ', '61-109 ', '88-148 ', '60-99 ', '41-72 ', '96-161 ',
       '65-130 ', '52-81 ', '139-220 ', '50-102 ', '85-139 ', '74-122 ',
       '99-157 ', '79-222 ', '57-118 ', '86-141 ', '94-154 ', '37-76 ',
       '100-160 ', '55-100 ', '60-114 ', '39-68 ', '64-107 ', '31-65 ',
       '34-62 ', '117-231 ', '79-134 ', '52-93 ', '55-116 ', '72-123 ',
       '74-124 ', '40-73 ', '102-164 ', '89-153 ', '61-110 ', '65-110 ',
       '200-275', '68-123 ', '80-129 ', '39-71 ', '38-85 ', '121-193 ',
       '54-102 ', '102-163 ', '76-140 ', '60-101 ', '82-133 ', '65-125 ',
       '91-148 ', '95-173 ', '77-124 ', '80-135 ', '85-159 ', '80-105',
       '43-81 ', '29-50 ', '26-55 ', '61-118 ', '60-102 ', '112-182 ',
       '51-112 ', '113-223 ', '72-129 ', '71-123 ', '120-145', '80-120 ',
       '80-130 ', '59-115 ', '71-136 ', '81-167 ', '71-204 ', '75-125 ',
       '77-136 ', '74-123 ', '44-78 ', '65-148 ', '59-110 ', '85-134 ',
       '124-204 ', '131-207 ', '110-174 ', '52-101 ', '81-133 ',
       '132-211 ', '74-140 ', '100-190 ', '43-80 ', '17-24 ', '91-149 ',
       '42-82 ', '116-185 ', '59-116 ', '48-95 ', '31-72 ', '105-198 ',
       '98-182 ', '73-124 ', '200-250', '21-34 ', '117-206 ', '111-183 ',
       '81-159 ', '83-166 ', '114-182 ', '42-76 ', '114-179 ', '60-123 ',
       '100-166 ', '108-173 ', '48-93 ', '54-115 ', '60-127 ', '90-179 ',
       '138-224 ', '190-220', '35-62 ', '18-25 ', '39-66 ', '42-86 ',
       '69-127 ', '40-68 ', '49-113 ', '75-140 ', '66-112 ', '76-125 ',
       '44-86 ', '15-25 ', '53-92 ', '65-120 ', '60-103 ', '53-105 ',
       '33-62 ', '48-90 ', '34-64 ', '66-111 ', '91-138 ', '62-114 ',
       '71-129 ', '74-119 ', '55-97 ', '15-16', '61-106 ', '127-199 ',
       '74-126 ', '33-72 ', '37-63 ', '67-119 ', '72-117 ', '78-126 ',
       '116-194 ', '83-133 ', '45-82 ', '83-135 ', '70-122 ', '70-132 ',
       '54-101 ', '68-112 ', '42-74 ', '95-161 ', '76-126 ', '108-176 ',
       '130-208 ', '37-68 ', '52-99 ', '105-173 ', '71-134 ', '39-82 ',
       '88-162 ', '55-99 ', '67-117 ', '92-150 ', '116-209 ', '38-82 ',
       '85-90', '62-119 ', '84-136 ', '52-89 ', '65-119 ', '63-101 ',
       '127-202 ', '31-57 ', '75-143 ', '105-194 ', '45-86 ', '95-154 ',
       '80-148 ', '36-62 ', '50-92 ', '67-135 ', '42-80 ', '68-139 ',
       '34-92 ', '54-71 ', '65-124 ', '109-200 ', '61-113 ', '43-86 ',
       '74-149 ', '113-196 ', '97-160 ', '24-39 ', '102-172 ', '108-171 ',
       '76-142 ', '202-306 ', '49-97 ', '65-134 ', '32-59 ', '87-158 ',
       '107-173 ', '56-99 ', '25-28 ', '80-155 ', '43-98 ', '45-78 ',
       '44-96 ', '50-110 ', '61-119 ', '100-140', '56-91 ', '101-158 ',
       '125-210 ', '43-77 ', '139-221 ', '78-147 ', '37-66 ', '38-64 ',
       '43-82 ', '90-110', '93-151 ', '40-101 ', '97-180 ', '81-134 ',
       '84-157 ', '121-203 ', '52-85 ', '81-140 ', '83-148 ', '31-55 ',
       '102-178 ', '110-130', '48-85 ', '66-123 ', '92-146 ', '21-29 ',
       '10-17 ', '150-239 ', '52-91 ', '82-129', '47-101 ', '49-76 ',
       '43-88 ', '124-199 ', '97-181 ', '100-173 ', '53-96 ', '65-96 ',
       '75-127 ', '94-139 ', '176-289 ', '92-149 ', '118-188 ',
       '108-146 ', '65-106 ', '55-98 ', '94-162 ', '63-120 ', '126-228 ',
       '80-134 ', '85-142 ', '87-140 ', '76-127 ', '54-92 ', '61-100 ',
       '112-179 ', '63-111 ', '75-126 ', '110-184 ', '76-145 ', '70-118 ',
       '94-153 ', '150-180 ', '42-77 ', '47-85 ', '62-112 ', '64-108 ',
       '89-144 ', '55-105 ', '135-211 ', '57-80 ', '129-215 ', '63-127 ',
       '50-89 ', '71-124 ', '69-121 ', '150-238 ', '77-132 ', '59-112 ',
       '35-65 ', '79-147 ', '119-187 ', '90-157 ', '32-62 ', '116-208 ',
       '102-165 ', '91-159 ', '80-133 ', '39-69 ', '27-48 ', '36-71 ',
       '130-206 ', '99-178 ', '86-137 ', '37-100 ', '58-111 ', '72-133 ',
       '61-126 ', '95-160 ', '33-61 ', '69-119 ', '67-127 ', '66-117 ',
       '50-98 ', '90-153 ', '100-135', '42-79 ', '84-153 ', '44-73 ',
       '40-87 ', '72-142 ', '74-137 ', '57-109 ', '136-208 ', '171-272 ',
       '65-126 ', '118-228 ', '113-182 ', '58-104 ', '58-108 ', '81-161 ',
       '115-220 ', '71-144 ', '32-57 ', '79-136 ', '48-113 ', '27-47 ',
       '68-125 ', '39-67 ', '71-135 ', '61-123 ', '87-141 ', '71-121 ',
       '72-121 ', '51-88 ', '101-141 ', '79-127 ', '81-132 ', '120-140',
       '65-113 ', '59-125 ', '80-142 ', '62-113 '], dtype=object)

In [16]:
df['min_Salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
df

C:\Users\S.S.S.Dhyuthidhar\AppData\Local\Temp\ipykernel_10672\3405576171.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['min_Salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_Salary
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0,56
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0,95
955,955,Research Scientist â€“ Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0,61

In [17]:
df['min_Salary'].dtype

dtype('int64')

In [18]:
df['max_Salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))
df

C:\Users\S.S.S.Dhyuthidhar\AppData\Local\Temp\ipykernel_10672\956791156.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['max_Salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_Salary,max_Salary
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58,111
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72,133
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0,56,91
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0,95,160
955,955,Research Scientist â€“ Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0,61,126

In [19]:
df['Average_Salary'] = (df.min_Salary + df.max_Salary)/2
df

C:\Users\S.S.S.Dhyuthidhar\AppData\Local\Temp\ipykernel_10672\4259150915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Average_Salary'] = (df.min_Salary + df.max_Salary)/2

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_Salary,max_Salary,Average_Salary
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58,111,84.5
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72,133,102.5
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0,56,91,73.5
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0,95,160,127.5
955,955,Research Scientist â€“ Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0,61,126,93.5

In [23]:
filtered_df = df[df['Rating'] < 0]
company_names = filtered_df['Company Name'].tolist()
filtered_df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_Salary,max_Salary,Average_Salary
208,208,Principal Data Scientist with over 10 years ex...,Employer Provided Salary:$200K-$250K,Position Title: Principal Data Scientist\nLoca...,-1.0,CA-One Tech Cloud,"San Francisco, CA","Fremont, CA",51 to 200 employees,2017,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),-1,0,1,200,250,225.0
331,331,Principal Data Scientist with over 10 years ex...,Employer Provided Salary:$200K-$250K,Position Title: Principal Data Scientist\nLoca...,-1.0,CA-One Tech Cloud,"San Francisco, CA","Fremont, CA",51 to 200 employees,2017,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),-1,0,1,200,250,225.0
377,377,Data Operations Lead,Employer Provided Salary:$85K-$90K,Data Operations Lead\nLocation: Flexible thoug...,-1.0,Muso,"San Francisco, CA","San Francisco, CA",201 to 500 employees,-1,Nonprofit Organization,-1,-1,Unknown / Non-Applicable,-1,0,1,85,90,87.5
472,472,"Research Scientist, Immunology - Cancer Biology",Employer Provided Salary:$100K-$140K,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,100,140,120.0
518,518,"Senior Scientist, Cell Pharmacology/Assay Deve...",Employer Provided Salary:$110K-$130K,"Senior Scientist, Cell Pharmacology/Assay Deve...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,110,130,120.0
583,583,Data Scientist,$81K-$140K (Glassdoor est.),"As a Data Scientist, you will play a critical ...",-1.0,ALIN,"New York, NY","Noida, India",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,0,81,140,110.5
703,703,"Research Scientist, Immunology - Cancer Biology",Employer Provided Salary:$100K-$140K,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,100,140,120.0
741,741,"Scientist â€“ Cancer Discovery, Molecular Assay",Employer Provided Salary:$100K-$135K,"Scientist â€“ Cancer Discovery, Molecular Assay\...",-1.0,Monte Rosa Therapeutics,"Cambridge, MA",-1,-1,-1,-1,-1,-1,-1,-1,0,1,100,135,117.5
778,778,"Senior Scientist, Cell Pharmacology/Assay Deve...",Employer Provided Salary:$110K-$130K,"Senior Scientist, Cell Pharmacology/Assay Deve...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,110,130,120.0
819,819,"Principal Research Scientist/Team Lead, Medici...",Employer Provided Salary:$120K-$145K,"Principal Research Scientist/Team Lead, Medici...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,120,145,132.5
943,943,"Research Scientist, Immunology - Cancer Biology",Employer Provided Salary:$100K-$140K,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,100,140,120.0

## Company Name text only

In [25]:
df.loc[df['Rating'] < 0, 'Company_txt'] = df['Company Name']
df.loc[df['Rating'] >= 0, 'Company_txt'] = df['Company Name'].str[:-3]
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_Salary,max_Salary,Average_Salary,Company_txt
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0,Tecolote Research\n
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5,University of Maryland Medical System\n
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0,KnowBe4\n
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,PNNL\n
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,Affinity Solutions\n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58,111,84.5,GSK\n
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,...,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72,133,102.5,Eventbrite\n
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,...,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0,56,91,73.5,Software Engineering Institute\n
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,...,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0,95,160,127.5,"Numeric, LLC\n"
955,955,Research Scientist â€“ Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,...,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0,61,126,93.5,Riverside Research Institute\n

## State Field

In [29]:
#df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
#df['job_state'] = df['Location'].str.split(',').str[1]
df.loc[:, 'job_state'] = df['Location'].str.split(',').str[1]
df

C:\Users\S.S.S.Dhyuthidhar\AppData\Local\Temp\ipykernel_10672\2595684234.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'job_state'] = df['Location'].str.split(',').str[1]

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Sector,Revenue,Competitors,hourly,employer_provided,min_Salary,max_Salary,Average_Salary,Company_txt,job_state
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0,Tecolote Research\n,NM
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5,University of Maryland Medical System\n,MD
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0,KnowBe4\n,FL
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,PNNL\n,WA
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,Affinity Solutions\n,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,...,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58,111,84.5,GSK\n,MA
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,...,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72,133,102.5,Eventbrite\n,TN
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,...,Education,Unknown / Non-Applicable,-1,0,0,56,91,73.5,Software Engineering Institute\n,PA
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,...,Business Services,$5 to $10 million (USD),-1,0,0,95,160,127.5,"Numeric, LLC\n",PA
955,955,Research Scientist â€“ Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,...,Government,$50 to $100 million (USD),-1,0,0,61,126,93.5,Riverside Research Institute\n,OH

In [30]:
#How many jobs are there for each state
df.job_state.value_counts()

 CA             151
 MA             103
 NY              72
 VA              41
 IL              40
 MD              35
 PA              33
 TX              28
 WA              21
 NC              21
 NJ              17
 FL              16
 OH              14
 TN              13
 DC              11
 CO              11
 WI              10
 IN              10
 UT              10
 AZ               9
 MO               9
 AL               8
 GA               6
 KY               6
 DE               6
 MI               6
 CT               5
 IA               5
 LA               4
 OR               4
 NE               4
 NM               3
 KS               3
 ID               2
 MN               2
 Los Angeles      1
 RI               1
 SC               1
Name: job_state, dtype: int64

In [ ]:
#California has the highest jobs

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 742 entries, 0 to 955
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         742 non-null    int64
 1   Job Title          742 non-null    object
 2   Salary Estimate    742 non-null    object
 3   Job Description    742 non-null    object
 4   Rating             742 non-null    float64
 5   Company Name       742 non-null    object
 6   Location           742 non-null    object
 7   Headquarters       742 non-null    object
 8   Size               742 non-null    object
 9   Founded            742 non-null    int64
 10  Type of ownership  742 non-null    object
 11  Industry           742 non-null    object
 12  Sector             742 non-null    object
 13  Revenue            742 non-null    object
 14  Competitors        742 non-null    object
 15  hourly             742 non-null    int64
 16  employer_provided  742 non-null    int64
 17  min_Salary         742 non-null    int64
 18  max_Salary         742 non-null    int64
 19  Average_Salary     742 non-null    float64
 20  Company_txt        742 non-null    object
 21  job_state          742 non-null    object
dtypes: float64(2), int64(6), object(14)
memory usage: 149.5+ KB

## Age of the Company

In [40]:
df.Founded.unique()

array([1973, 1984, 2010, 1965, 1998, 2000, 2008, 2005, 2014, 2009, 2011,
       1968, 1962, 2012, 1781, 1995, 1915, 2013, 1935, 1849, 1952, 1852,
       1997, 1996, 1974, 1969, 1870, 1985,   -1, 2015, 1993, 1958, 1986,
       1999, 1925, 1912, 2002, 1863, 1939, 2016, 1885, 2006, 1948, 2003,
       1927, 1978, 1860, 2017, 1942, 1990, 1988, 2001, 2007, 1992, 1994,
       1977, 2019, 1982, 1937, 1878, 1966, 1971, 1943, 1987, 1945, 1846,
       1851, 1976, 1981, 1970, 1951, 1967, 1961, 1964, 1930, 1917, 1883,
       1887, 2004, 1850, 1902, 1744, 1929, 1947, 1991, 1989, 1928, 1875,
       1913, 1972, 1856, 1983, 1922, 1812, 1914, 1980, 1954, 1830, 1975,
       1899, 1979, 1889], dtype=int64)

In [38]:
#if there is -1 leave it like that and get the age for remaining ones.
from datetime import datetime

current_year = datetime.now().year
df['Company_Age'] = df.Founded.apply(lambda x: x if x<1 else current_year - x)
df

C:\Users\S.S.S.Dhyuthidhar\AppData\Local\Temp\ipykernel_10672\550029234.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Company_Age'] = df.Founded.apply(lambda x: x if x<1 else current_year - x)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Competitors,hourly,employer_provided,min_Salary,max_Salary,Average_Salary,Company_txt,job_state,Company_Age,same_state
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,-1,0,0,53,91,72.0,Tecolote Research\n,NM,50,0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,-1,0,0,63,112,87.5,University of Maryland Medical System\n,MD,39,0
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,-1,0,0,80,90,85.0,KnowBe4\n,FL,13,1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,PNNL\n,WA,58,1
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,Affinity Solutions\n,NY,25,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,...,"Pfizer, AstraZeneca, Merck",0,0,58,111,84.5,GSK\n,MA,193,0
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,...,"See Tickets, TicketWeb, Vendini",0,0,72,133,102.5,Eventbrite\n,TN,17,0
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,...,-1,0,0,56,91,73.5,Software Engineering Institute\n,PA,39,1
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,...,-1,0,0,95,160,127.5,"Numeric, LLC\n",PA,-1,0
955,955,Research Scientist â€“ Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,...,-1,0,0,61,126,93.5,Riverside Research Institute\n,OH,56,0

In [34]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_Salary', 'max_Salary',
       'Average_Salary', 'Company_txt', 'job_state', 'Company_Age'],
      dtype='object')

In [39]:
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis =1)
df

C:\Users\S.S.S.Dhyuthidhar\AppData\Local\Temp\ipykernel_10672\3661190162.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis =1)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Competitors,hourly,employer_provided,min_Salary,max_Salary,Average_Salary,Company_txt,job_state,Company_Age,same_state
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,-1,0,0,53,91,72.0,Tecolote Research\n,NM,50,0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,-1,0,0,63,112,87.5,University of Maryland Medical System\n,MD,39,0
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,-1,0,0,80,90,85.0,KnowBe4\n,FL,13,1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,PNNL\n,WA,58,1
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,Affinity Solutions\n,NY,25,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,...,"Pfizer, AstraZeneca, Merck",0,0,58,111,84.5,GSK\n,MA,193,0
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,...,"See Tickets, TicketWeb, Vendini",0,0,72,133,102.5,Eventbrite\n,TN,17,0
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,...,-1,0,0,56,91,73.5,Software Engineering Institute\n,PA,39,1
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,...,-1,0,0,95,160,127.5,"Numeric, LLC\n",PA,-1,0
955,955,Research Scientist â€“ Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,...,-1,0,0,61,126,93.5,Riverside Research Institute\n,OH,56,0

## Parsing of Job Description

In [45]:
#python
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
#r studio
df['R_ys'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
#spark
df['spark_ys'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
#aws
df['aws_ys'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
#excel
df['excel_ys'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

C:\Users\S.S.S.Dhyuthidhar\AppData\Local\Temp\ipykernel_10672\3855090362.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
C:\Users\S.S.S.Dhyuthidhar\AppData\Local\Temp\ipykernel_10672\3855090362.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['R_ys'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
C:\Users\S.S.S.Dhyuthidhar\AppData\Local\Temp\ipykernel_10672\3855090362.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['spark_ys'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
C:\Users\S.S.S.Dhyuthidhar\AppData\Local\Temp\ipykernel_10672\3855090362.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['aws_ys'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
C:\Users\S.S.S.Dhyuthidhar\AppData\Local\Temp\ipykernel_10672\3855090362.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['excel_ys'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

0    575
1    167
Name: spark_ys, dtype: int64

In [47]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_Salary', 'max_Salary',
       'Average_Salary', 'Company_txt', 'job_state', 'Company_Age',
       'same_state', 'python_yn', 'R_ys', 'spark_ys', 'aws_ys', 'excel_ys'],
      dtype='object')

In [49]:
df_out = df.drop(['Unnamed: 0'], axis = 1)
df_out

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Average_Salary,Company_txt,job_state,Company_Age,same_state,python_yn,R_ys,spark_ys,aws_ys,excel_ys
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,72.0,Tecolote Research\n,NM,50,0,1,0,0,0,1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,87.5,University of Maryland Medical System\n,MD,39,0,1,0,0,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,85.0,KnowBe4\n,FL,13,1,1,0,1,0,1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,76.5,PNNL\n,WA,58,1,1,0,0,0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,114.5,Affinity Solutions\n,NY,25,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,84.5,GSK\n,MA,193,0,0,0,0,1,0
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,102.5,Eventbrite\n,TN,17,0,1,0,1,1,0
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,73.5,Software Engineering Institute\n,PA,39,1,0,0,0,0,1
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,127.5,"Numeric, LLC\n",PA,-1,0,0,0,0,0,1
955,Research Scientist â€“ Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,93.5,Riverside Research Institute\n,OH,56,0,1,0,0,0,0

In [50]:
df_out.to_csv('Salary_Data_Cleaned.csv',index = False)